{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/index.js"></script>
{% endblock %}

{% block body %}
    <select id="type">
        <option value="">---choose advertisement type---</option>
    </select>
    <select id="vendor" disabled>
        <option value="">---choose advertisement type first---</option>
    </select>
{% endblock %}
