{% extends "base.html.twig" %}

{% block body %}
    <select id="vendor">
        <option value="google">Google広告</option>
        <option value="yahoo">Yahoo広告</option>
        <option value="facebook">Facebook広告</option>
        <option value="twitter">Twitter広告</option>
        <option value="smartnews">SmartNews広告</option>
    </select>
{% endblock %}
